@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    background-image: url("https://wallpaperaccess.com/full/7963353.png");
    background-size: 100%;
    padding-left:20px;
    padding-right: 20px;
    color: rgb(61, 58, 58);
    font-family: 'Open sans', sans-serif;
}
p{
    font-size: 50px;
}
header{
display:flex;
flex-direction: row;
justify-content: space-between;
}
ul{
margin-top: 70px;
display:flex;
flex-direction: row;
list-style: none;
font-size: 30px;
}
h1{
    text-align: center;
    margin-top: 400px;
    font-size: 40px;
}
li:first-child, li:nth-child(2){
    margin-right: 20px;
}